<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>Welcome to my blog!</h1>
    <p>A place where you can read about many things.</p>

    <a href="/posts/">Back to Posts</a>

  </body>
</html>
