<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
           <link rel="stylesheet" href="/stylesheets/style.css" />

    <title></title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="welcome-text">
    <h1>Welcome to my blog!</h1>
    <p>A place where you can read about many things.</p>


    <a href="/posts/">All  Posts</a>
</div>
  </body>
</html>
