@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+IT+Moderna:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');


body {
   background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(45, 129, 153, 0.49) 37%, rgba(87, 199, 133, 1) 50%, rgba(150, 208, 112, 1) 71%, rgba(237, 221, 83, 1) 100%);;
   font-family: "DM Sans", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 100vw;
 }

 .box-fill {
  background-color: #f47b5b;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 1.5rem;
  color: #fff;
}

 button {
   align-self: center;
   margin: 10px 4px 4px 4px;
   background-color: #3f6a51;
   color: white;
   padding: 5px 10px;
   border-radius: 15px;
   border: none;
   width: 15em;
 }


 button:hover {
   background-color: #769642;
 }

 button:active {
   background-color: #2d4d3a;
 }

  .new-text {
   background-color: #3f6a51;
   text-transform: uppercase;
   padding: 40px 15px;
   font-size: 1.3em;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-weight: bold;
   text-align: center;
   width: 70%;
   height: 50px;
 }

 .welcome-text {
  font-family: "Story Script", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  background-clip: text;
  color: whitesmoke;
 }

  .pretty-text {
  font-family: "Playwrite IT Moderna", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  background-clip: text;
  color: #f47b5b;
 }

 .blink_me { 
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    color: yellow;
  }
}


/* this was from stack overflow haha */

.not_live{
  color:red;
}

.navbar {
  background-color: white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.image img {
  max-width: 300px;  
  height: auto;      
  display: block;    
  margin: 0 auto;     
}

.back a {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

.back a:hover {
  background-color: #ddd;
}